
/* General Tables displaying data */
.data-table {
    border: solid 1px #000;
    width: 60vw;
}
.data-table-header {
    background-color: #f0f0f0;
    font-weight: bold;
    text-align: center;
}
.data-table-body {
    text-align: center;
}

.nav-bar {
    background-color: #f0f0f0;
    padding: 1em;
    margin-bottom: 1em;
}

.nav-item {
    display: inline;
    margin-right: 1em;
}

.nav-item a {
    text-decoration: none;
    color: #000;
    &:hover {
        color: #007BFF;
        text-decoration: underline;
    }
     
}